.service-block
  margin-bottom: 80px
  .service-list
    margin: 0
    padding: 0

    .item
      list-style: none
      margin-bottom: 42px
      transition: all .3s
      &:hover
        background: #009160
        border-radius: 2px
        .img-block
          background-color: #00BB7C!important
        a,
        .title
          color: #fff!important
        svg path
          fill: #fff!important

      .item-wrap
        padding: 16px 0

      .img-block
        background: #D0D0D0
        padding: 22px
        border-radius: 50%
        margin-right: 27px
        transition: all .3s

      .text
        .title
          font-family: 'Open Sans', sans-serif
          font-style: normal
          font-weight: 600
          font-size: 1.4667rem
          margin-top: 0
          margin-bottom: 10px
          transition: all .3s

        .link
          text-decoration: none
          color: #000
          font-size: 0.9333rem
          transition: all .3s
          &:hover
            color: #009160


          svg
            margin-left: 11px
            path
              transition: all .3s


