.schema-block
  background: url(/static/schema-bg.jpg)
  background-repeat: no-repeat!important
  background-size: cover!important
  background-position: center center!important
  padding-top: 60px

  .sub-title
    color: #fff
    &::before
      background-color: #fff

