$color_white: #fff
header
  padding: 13px 0
  background: $color_white
  opacity: 0.8
  position: absolute
  z-index: 99
  left: 0
  right: 0

  .top
    padding: 8px 0 20px

  .bottom
    .main-navigation
      margin: 0
      padding: 0

      li
        list-style: none

        a
          white-space: nowrap
          text-decoration: none
          color: #000000
          font-size: 1.0667rem
          padding: 0 5px
          transition: all .3s
          &:hover
            color: #009160


      li:last-child
        a
          padding-right: 0









