$color_white: #fff
header
  padding: 13px 0
  background: $color_white
  opacity: 0.8
  position: absolute
  z-index: 99
  left: 0
  right: 0

  .top
    padding: 8px 0 20px

  .bottom
    .main-navigation
      margin: 0
      padding: 0

      li
        list-style: none

        a
          white-space: nowrap
          text-decoration: none
          color: #000000
          font-size: 1.0667rem
          padding: 0 5px
          transition: all .3s
          &:hover
            color: #009160


      li:last-child
        a
          padding-right: 0

#mobile-toggle
  display: none
  transition: all .6s
  z-index: 999
.hamburger-box
  position: relative
  display: inline-block
  width: 40px
  height: 24px


.hamburger-inner
  display: block
  top: 50%
  margin-top: -2px


.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after
  width: 40px
  height: 4px
  background-color: #333
  border-radius: 4px
  position: absolute
  transition-property: transform
  transition-duration: 0.15s
  transition-timing-function: ease


.hamburger-inner::before, .hamburger-inner::after
  content: ""
  display: block


.hamburger-inner::before
  top: -10px


.hamburger-inner::after
  bottom: -10px


.hamburger
  padding: 15px 0px
  display: none
  cursor: pointer
  transition-property: opacity, filter
  transition-duration: 0.15s
  transition-timing-function: linear
  font: inherit
  color: inherit
  text-transform: none
  background-color: transparent
  border: 0
  margin: 0
  overflow: visible
  position: absolute
  right: 20px
  cursor: pointer
  z-index: 99999

.hamburger:hover
  opacity: 0.7

.hamburger.is-active:hover
  opacity: 0.7

.hamburger-inner, .hamburger-inner::after,
.hamburger-inner::before
  background-color: #333
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after
  background-color: #000

.hamburger--3dx .hamburger-box
  perspective: 80px

.hamburger--3dx .hamburger-inner
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)
.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1)

.hamburger--3dx.is-active .hamburger-inner
  background-color: transparent !important
  transform: rotateY(180deg)
.hamburger--3dx.is-active .hamburger-inner::before
  transform: translate3d(0, 10px, 0) rotate(45deg)
.hamburger--3dx.is-active .hamburger-inner::after
  transform: translate3d(0, -10px, 0) rotate(-45deg)


@media (max-width: 1200px)
  .logo
    img
      height: 80px

  header
    .bottom
      .main-navigation
        li
          a
            font-size: 1rem
            padding: 0 5px 0 0




@media (max-width: 993px)
  header
    .bottom,
    .call-block
      display: none
    .phone-block
      height: 105px
      .phone-link
        margin-right: 60px
        white-space: nowrap
    .logo
      img
        height: auto
    .top
      padding: 0

  #mobile-toggle
    display: block!important

@media (max-width: 400px)
  header
    .phone-block
      display: none!important

  #mobile-toggle
    top: 50%
    transform: translateY(-50%)

