.promo-block
  margin-bottom: 65px
  padding-bottom: 45px

  .promo-list
    margin: 0
    padding: 0

    li
      list-style: none
      margin-bottom: 30px

      a
        font-weight: 600
        text-decoration: none
        font-size: 1.4667rem
        color: #000
        transition: all .3s

        &:hover
          color: #164B84

        span
          display: block
          font-size: 1.0667rem


  .promo-list-shapes
    margin: 0
    padding: 0

    li
      position: relative
      list-style: none
      padding: 50px
      font-weight: 600
      font-size: 40px
      color: #fff

      &:before
        content: ""
        display: block
        position: absolute
        top: 15px
        left: 25px
        background: #164B84
        opacity: 0.85
        transform: rotate(45.13deg)
        width: 130px
        height: 130px

      p
        margin-bottom: 0
        position: relative

    li:nth-of-type(4n+1)
      top: 96px
      left: 93px

      &:before
        opacity: 0.75

    li:nth-of-type(4n+3)
      left: 189px
      top: 33px

      &:before
        opacity: 1

    .item.last
      position: absolute
      left: 249px
      top: -29px

      &:before
        display: none

.page-promo
  .promo-list
    margin: 0
    padding: 0
    flex-wrap: wrap

    li
      list-style: none
      margin-bottom: 80px

      &.item
        color: #fff

        .item-wrap
          position: relative
          min-height: 346px

          &:before
            content: ""
            display: block
            position: absolute
            top: 0px
            left: 0
            width: 100%
            height: 100%
            background-color: #001832
            opacity: .6

        .percent
          font-weight: 600
          font-size: 3rem
          margin-bottom: 21px

        .title
          font-size: 1.4667rem
          font-weight: 600
          margin-top: 0
          margin-bottom: 17px


  .hero-section
    margin-bottom: 80px

@media (max-width: 993px)
  .promo-block
    padding-bottom: 0

    .promo-list-shapes
      display: none



